In [13]:
import json
import numpy as np
import pandas as pd

### json dump test

In [9]:
idx = np.random.permutation([1,2,3])
with open('./tmp/idx_test.json', 'w') as f:
    json.dump(idx.tolist(), f)

### np.where test

In [11]:
arr = np.arange(5)
np.where(arr > 2, 1, 0)

array([0, 0, 0, 1, 1])

### dict test

In [25]:
df = pd.DataFrame(np.random.permutation(np.arange(12)).reshape((3,-1)), columns=['a','b','c','d'])
display(df)
list(np.unique(df['a']))

   a  b  c   d
0  4  6  1   5
1  8  7  2  11
2  0  3  9  10

[0, 4, 8]

### one hot test

In [53]:
def one_hot(df, label_mapping):
    label_mapping = {} if label_mapping is None else label_mapping
    updated_label_mapping = {}
    for c in df.columns:
        if c in ['size', 'color']:
            column = df[c]
            df = df.drop(c, axis=1)

            if c in label_mapping.keys():
                mapping = label_mapping[c]
            else:
                unique_value = list(dict.fromkeys(column))
                mapping = {v: i for i, v in enumerate(unique_value)}
                updated_label_mapping[c] = mapping

            n = len(mapping)
            # directly apply mapping on the binary feature
            if n <= 2:
                df[c] = [mapping[e] for e in column]
            # apply one hot on non-binary feature
            else:
                for i in range(n):
                    column_name = '{}.{}'.format(c, i)
                    df[column_name] = [1. if list(mapping.keys())[i] == e else 0. for e in column]

    updated_label_mapping.update(label_mapping)
    return df, updated_label_mapping

In [54]:
df = pd.DataFrame([
            ['green', 'M', 10.1, 'class1'],
            ['red', 'L', 13.5, 'class2'],
            ['blue', 'XL', 15.3, 'class1']])

df.columns = ['color', 'size', 'prize', 'class label']

size_mapping = {
    'size':
        {
           'XL': 3,
           'L': 2,
           'M': 1
        }

}
df

   color size  prize class label
0  green    M   10.1      class1
1    red    L   13.5      class2
2   blue   XL   15.3      class1

In [55]:
one_hot(df, size_mapping)

(   prize class label  color.0  color.1  color.2  size.0  size.1  size.2
 0   10.1      class1      1.0      0.0      0.0     0.0     0.0     1.0
 1   13.5      class2      0.0      1.0      0.0     0.0     1.0     0.0
 2   15.3      class1      0.0      0.0      1.0     1.0     0.0     0.0,
 {'color': {'green': 0, 'red': 1, 'blue': 2},
  'size': {'XL': 3, 'L': 2, 'M': 1}})

In [38]:
one_hot(df, size_mapping)

(   color size  prize class label  color.0  color.1  color.2  size.0  size.1  \
 0  green    M   10.1      class1      1.0      0.0      0.0     0.0     0.0
 1    red    L   13.5      class2      0.0      1.0      0.0     0.0     1.0
 2   blue   XL   15.3      class1      0.0      0.0      1.0     1.0     0.0

    size.2
 0     1.0
 1     0.0
 2     0.0  ,
 {'color': {'green': 0, 'red': 1, 'blue': 2},
  'size': {'XL': 3, 'L': 2, 'M': 1}})

### Reduction test